@{
    
}
<h1>Customer Index</h1>
<h3>@ViewData["Message"]</h3>
<p>There are @ViewData["CustomerCount"] customers into list</p>
<ul>
    @foreach(var customer in ViewData["CustomerList"] as List<Customer>){
        <li>@customer.Id - @customer.Name - @customer.Amount </li>
    }
</ul>

@Html.ActionLink("Details Page", "Details", "Customer");
<a asp-controller="Customer" asp-action="Message">Message</a>